[Unit]
Description = Telegram Inactive User Tracker Bot
After = network.target

[Service]
Type = simple
WorkingDirectory = /opt/inactive-user-tacker-bot
ExecStart = /opt/inactive-user-tacker-bot/.env/bin/python bot.py
Restart = on-abort

[Install]
WantedBy = multi-user.target